.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color : #f3f3f4 !important;
    border-top: #1ab394;
    border-top-width: 1px;
    border-top-style: solid;
}
.top-nav{
    background: #2f4050;
    font-family: "Open Sans", sans-serif;
    font-size: large;
    color: #fff;
}

.top-nav a {
    color:#1ab394;
}

.profile {
    float:right;
}